MOLTENHUB_CODE_IMAGE=moltenai/moltenhub-code:latest
MOLTENHUB_CODE_PORT=7777
MOLTENHUB_CODE_SUBNET=10.89.80.0/24

PUID=1000
PGID=1000
TZ=America/Vancouver
WHISPER_PORT=10300
WHISPER_MODEL=tiny-int8
WHISPER_LANG=en
WHISPER_BEAM=1

HARNESS_AGENT_HARNESS=codex
HARNESS_AGENT_COMMAND=
GITHUB_TOKEN=
OPENAI_API_KEY=
MOLTEN_HUB_TOKEN=
MOLTEN_HUB_REGION=na
MOLTEN_HUB_URL=
MOLTEN_HUB_SESSION_KEY=main
MOLTEN_HUB_DEFAULT_REPOSITORY=
