openapi: 3.1.0
info:
  title: Molten Hub OpenAPI (Runtime-Focused Snapshot)
  version: "2026-04-08"
  description: >
    Focused offline snapshot of the Molten Hub routes used by this harness runtime.
    This file is intentionally scoped to integration behavior that is implemented in
    internal/hub/api.go and internal/hub/daemon.go.
servers:
  - url: https://na.hub.molten.bot/v1
    description: Molten Hub NA API
security:
  - bearerAuth: []
x-runtime-integration-behavior:
  - Runtime registration and profile updates target /agents/me and /agents/me/metadata.
  - Task transport uses /openclaw/messages/publish and /openclaw/messages/pull.
  - Delivery lifecycle uses /openclaw/messages/ack and /openclaw/messages/nack.
  - WebSocket transport uses /openclaw/messages/ws.
  - Runtime shutdown/offline signaling uses /openclaw/messages/offline.
paths:
  /agents/bind-tokens:
    post:
      summary: Exchange a bind token for an agent token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bind_token:
                  type: string
                bindToken:
                  type: string
                token:
                  type: string
      responses:
        "200":
          description: Token exchange accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Unauthorized.
  /agents/bind:
    post:
      summary: Alternate bind endpoint for token exchange.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bind_token:
                  type: string
                bindToken:
                  type: string
                token:
                  type: string
      responses:
        "200":
          description: Token exchange accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Unauthorized.
  /agents/me:
    get:
      summary: Read current agent profile and metadata.
      responses:
        "200":
          description: Agent profile payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentProfileResponse"
    post:
      summary: Update current agent profile fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Update accepted.
    patch:
      summary: Patch current agent profile fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Update accepted.
  /agents/me/metadata:
    post:
      summary: Replace or merge metadata for current agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Metadata update accepted.
    patch:
      summary: Patch metadata for current agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Metadata update accepted.
  /agents/me/status:
    post:
      summary: Set current agent lifecycle status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        "200":
          description: Status update accepted.
    patch:
      summary: Patch current agent lifecycle status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        "200":
          description: Status update accepted.
  /openclaw/messages/publish:
    post:
      summary: Publish a message/result to another agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenClawPublishRequest"
      responses:
        "200":
          description: Message accepted.
  /openclaw/messages/pull:
    get:
      summary: Pull or long-poll the next queued message.
      parameters:
        - name: timeout_ms
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 30000
      responses:
        "200":
          description: Delivery available.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenClawPullResponse"
        "204":
          description: No delivery available.
  /openclaw/messages/ack:
    post:
      summary: Acknowledge a leased delivery.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryAckRequest"
      responses:
        "200":
          description: Delivery acknowledged.
  /openclaw/messages/nack:
    post:
      summary: Release a leased delivery back to queue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryAckRequest"
      responses:
        "200":
          description: Delivery released.
  /openclaw/messages/ws:
    get:
      summary: WebSocket transport endpoint.
      description: Upgrade to WebSocket for push delivery.
      parameters:
        - name: session_key
          in: query
          required: false
          schema:
            type: string
        - name: sessionKey
          in: query
          required: false
          schema:
            type: string
      responses:
        "101":
          description: Switching Protocols.
  /openclaw/messages/offline:
    post:
      summary: Mark runtime offline for OpenClaw session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_key:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Offline state accepted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    TokenResponse:
      type: object
      properties:
        token:
          type: string
        agent_token:
          type: string
        access_token:
          type: string
        base_url:
          type: string
          format: uri
        api_base:
          type: string
          format: uri
      additionalProperties: true
    AgentProfileResponse:
      type: object
      properties:
        result:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
      additionalProperties: true
    OpenClawPublishRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: object
          additionalProperties: true
        to_agent_uri:
          type: string
        to_agent_uuid:
          type: string
        client_msg_id:
          type: string
      additionalProperties: true
    OpenClawPullResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            delivery_id:
              type: string
            message_id:
              type: string
            message:
              type: object
              additionalProperties: true
          additionalProperties: true
      additionalProperties: true
    DeliveryAckRequest:
      type: object
      required:
        - delivery_id
      properties:
        delivery_id:
          type: string
